/*Contribute*/

.contribute_main_container {
  font-family: "Source Sans Pro", sans-serif;
  color: #4aa96c;
  margin: 0; 
  padding: 50px 0px;
  background-color: #d7fbe8;
  text-align: center;
}
.contribute_container {
  border: solid;
  border-width: 1px;
  border-color: #d7fbe8;
  margin-top: 50px;
  padding: 20px 0px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: inset 0 -3em 3em rgba(74, 169, 108, 0.1), 0 0 0 1px rgb(74, 169, 108),
    0.3em 0.3em 1em rgba(74, 169, 108, 0.3);
}

.contribute_container h1 {
  margin:0 auto;
  font-size: 40px;
  font-weight: 200;
}

.contribute_container input {
  border: 1px solid rgba(252, 252, 252, 0.9);
  background-color: white;
  width: 328px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
}


.contribute_container textarea {
  border: 1px solid rgba(252, 252, 252, 0.9);
  background-color: white;
  width: 328px;
  height: 100px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 17px;
  color: black;
  font-weight: 300;
}



