@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@font-face{
font-family: 'reason';
src: url('SCRIPTIN.ttf');
}

@font-face{
font-family: 'darc';
src: url('Darc Facade.ttf');
}

/*Title Part*/

.title-part {
  background-color: #d7fbe8;
  margin: 0;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.title-logo-heading{
  text-align: center;
  width: 400px;
}
.title-heading {
  color: #007965;
  font-family: 'darc';
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3rem;
}

.title-image {
height: 300px;
}
.title-subheading {
  text-align: center;
  color: #20716a;
  margin: auto;
  width: 700px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-family: "Cormorant Upright", serif;
}
/*Popular Part*/
.popular-part {
  background-color: #f8fefb;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.select-part {
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    transparent no-repeat 98%; /* !important used for overriding all other customisations */
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 15%;
  max-width: 300px;
  min-width: 160px;
  padding: 7.6px 15px;
  border: solid;
  border-width: 1px;
}

.p1 {
  margin-top: 50px;
  font-size: 1rem;
  font-family: "Cardo";
}

.copyright {
  color: #00af91;
  font-family: "Lateef", cursive;
  font-size: 1.5rem;
}

.icon-link {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.post-part {
  /* background-color: lightgrey; */
  border: solid;
  border-width: 2px;
  border-color: lightcyan;
  margin-top: 10px;
  padding: 3px;
  font-family: Ubuntu;
}

.main-post-part {
  background-color: lightcyan;
  padding: 10px;
}
.single-post {
  background-color: #f8fefb;
  padding: 7.5px;
  margin-bottom: 2px;
  margin-top:  6px;
    cursor: pointer;
    font-family: Ubuntu;
}


.sub-recent-post-part {
  /* background-color: lightgrey; */
  border: solid;
  border-width: 2px;
  border-color: lightcyan;
  margin-top: 10px;
  font-family: Ubuntu;
}

.sub-recent-main-post-part {
  background-color: lightcyan;
  padding: 10px 0px;
}

.sub-recent-single-post {
  background-color: #f8fefb;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
  margin-bottom: 2px;
  margin-top:  6px;
    cursor: pointer;
    font-size: 0.9rem;
}

.top-single-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-single-post-heading {
color: black;
font-size: 1.3rem;
font-family: 'Playfair Display', serif;
text-decoration: none;
}

.top-single-post-heading:hover {
text-decoration: none;
}


.top-single-post-label {
font-size: 1rem;
font-family: 'Dancing Script', cursive;
}

.top-single-post-category{
font-family: 'PT Serif', serif;
margin-left: 8px;
text-decoration: none;
color: green;
}

.sub-home-heading {
font-family: 'Bodoni Moda', serif;
font-size: 1.8rem;
color: #184d47;
}

.top-post-button {
 border: 2px solid #00748B;
padding: 4px 8px;
text-align: center;
  vertical-align: center;
  background: transparent;
color: #00748B;
font-size: 0.8rem;
text-decoration: none;
}

.top-post-button:hover {
color: white;
background-color: #00748B;
text-decoration: none;
}


.upvote-login-box {
width: 200px;
height: 100px;
position: fixed;
top: 50%;
left: 50%;
offset-position: top;
transform: translate(-50%,-50%);
background: #d6efc7;
border: 1px #96bb7c solid;
border-radius: 10px;
}


.home-card-theme{
display:flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 20px;
margin-bottom: 40px;
}

.home-card-reason{
text-align: center;
width: 400px;
font-family: 'reason';
font-size: 3rem;
color: #007965;
padding-bottom: 20px;
}

.home-card-main{
width: 700px;
padding-top: 10px;
padding-bottom: 10px;
display: flex;
justify-content: center;
}

.home-card-main-part{
max-width: 500px;
padding-top: 20px;
padding-bottom: 20px;
width: 90%;
text-align: left;
border-radius: 50px;
box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.home-card-title{
padding-left: 30px;
padding-right: 30px;
color: #0f3057;
font-family: 'Bodoni Moda';
font-size: 1.4rem;
}

.home-card-description{
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;
font-size: 1.1rem;
font-family: Ubuntu; 
}

.home-card-conclude{
display: flex;
padding-left: 30px;
padding-right: 30px;
justify-content: space-between;
font-family: Ubuntu;
}
.tip-main{
background-color: #E8FDF2;
}
